* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: .95rem;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

button {
  border: none;
  background: #265f82;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
}

button:hover {
  border: none;
  background: #1F4C69;
  color: white;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: url(image1.jpg) no-repeat center fixed;
  background-size: cover;
}

.centered-form__form {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 20px;
  width: 290px;
  opacity: 0.89;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
  font-size: 110%;
  font-weight: bold;
}

.form-field input, .form-field select {
  border: 1px solid #e1e1e1;
  padding: 13px;
}

.form-field input:focus, .form-field select:focus{
    background-color: rgb(250, 255, 189);
}

.chat {
  display: flex;
}

.chat__sidebar {
  font-family: Mali;
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(49,84,129,1)), color-stop(100%, rgba(39,107,130,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* safari5.1+,chrome10+ */
   background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* opera 11.10+*/
   background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ie10+ */
  background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* w3c */
}

.chat__sidebar h3 {
  color: #e6eaee;
  margin: 10px 20px;
  text-align:center;
  text-decoration: underline;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  background: #e6eaee;
  border: 2px solid #e1e1e1;
  border-radius: 15px;
  padding: 10px;
  margin: 15px 10px;
  box-shadow: 2px 2px 2px grey,2px 2px 2px grey;
}

.chat__main {
  font-family: Acme;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  /*height: 60px;*/
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  margin-right: 10px;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.chat__footer input:focus{
  background-color: rgb(250, 255, 189);
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
}

.message__title h4 {
  font-weight: bolder;
  font-size:130%;
  margin-right: 10px;
}

.message__title span {
  color: #999;
}

.message__body {
  font-weight: bolder;
  font-family: Roboto;
}

@media all and (max-width: 600px) {
  * {
    font-size: 1.1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}
